* {
  box-sizing: border-box;
}

body {
  background: rgba(253, 246, 236, 1);
}
body {
  margin: 0 auto;
  width: 100%;
  max-width: 130ch;
  padding: 1rem;
  line-height: 1.5;
}

/*Teskster*/
h1 {
  font-family: "Rubik Iso", cursive;
  font-size: 5rem;
  color: black;
}

h2 {
  font-family: "Imbue", serif;
  font-size: 6rem;
  font-weight: bold;
}

h3 {
  font-family: "Imbue", serif;
  font-size: 4rem;
  font-weight: bold;
}
h4 {
  font-family: "Gidugu", sans-serif;
  font-size: 1.5rem;
}

p {
  font-family: "Gidugu", sans-serif;
  font-size: 1rem;
}

li a {
  font-family: "Gidugu", sans-serif;
}
