* {
  box-sizing: border-box;
}

body {
  background: rgb(245, 234, 219);
}
body {
  margin: 0 auto;
  width: 100%;
  max-width: 130ch;
  padding: 1rem;
  line-height: 1.5;
}

main {
  overflow: hidden;
}
/*Teskster*/
h1 {
  font-family: "Bodoni Moda", serif;
  font-size: 5rem;
  color: black;
}

h2 {
  font-family: "Bodoni Moda", serif;
  font-size: 4rem;
  font-weight: bold;
}

h3 {
  font-family: "Bodoni Moda", serif;
  font-size: 2rem;
}
h4 {
  font-family: "Gidugu", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

h5 {
  font-family: "Bodoni Moda", serif;
  font-size: 2rem;
}

p {
  font-family: "Gidugu", sans-serif;
  font-size: 1rem;
  color: black;
}

li a {
  font-family: "Gidugu", sans-serif;
  font-size: 1.5rem;
  text-align: right;
}
