---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Menu from "../components/Menu.astro";
import "../styles/style.css";
---

<main>
  <Menu />
  <section>
    <div><p>hej</p></div>
  </section>
</main>
