---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Menu from "../components/Menu.astro";
import "../styles/style.css";
---

<MainLayout>
  <main>
    <section>
      <div>
        <img src="/img2/tegn.webp" alt="d" />
      </div>

      <div class="container">
        <img class="box" src="/img2/cirkel2.svg" alt="f" />
        <div class="container_2">
          <h1 class="box box_2">SAKURA FESTIVAL</h1>
          <div class="box box_3">
            <p class="box box_5">The Japanese Cherry Blossom Festival</p>
            <div class="box box_4">
              <h3>22.04.23</h3>
              <p>-</p>
              <h3>23.04.23</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</MainLayout>

<style>
  .container {
    min-height: 180px;
    display: grid;
  }

  .container_2 {
    grid-column: 1;
    grid-row: 1;
  }

  /* .box sætter samme regel på alle bokse */
  .box {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 3rem;
  }

  .box_4 {
    place-self: end center;
  }

  .box_3 {
    display: grid;
    place-self: end;
  }

  .box_2 {
    place-self: start;
  }

  .box_5 {
    place-self: start end;
  }

  section {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
  }

  h1 {
    display: inline-block;
    place-self: center center;
    font-size: 2.7rem;
    position: relative;
    text-align: center;
    border-bottom: 5px solid #000000;
    letter-spacing: 10px;
  }
  img {
    width: 80%;
  }
</style>
