---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Menu from "../components/Menu.astro";
import "../styles/style.css";
---

<MainLayout>
  <main>
    <section>
      <div>
        <img src="/img/tegn.webp" alt="l" />
      </div>
      <div>
        <h2>Sakura Festival</h2>
        <h4>The Japanese blossom festival</h4>
      </div>
    </section>
  </main>
</MainLayout>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

</style>
