---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Menu from "../components/Menu.astro";
import "../styles/style.css";
---

<main>
  <Menu />
  <section>
    <div>
      <img src="/img/tegn.webp" alt="l" />
    </div>
    <div>
      <h4>Sakura Festival</h4>
      <h4>The Japanese blossom festival</h4>
    </div>
  </section>
</main>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
