---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Menu from "../components/Menu.astro";
import "../styles/style.css";
---

<MainLayout>
  <main>
    <section>
      <div>
        <img src="/img2/tegn.webp" alt="d" />
      </div>

      <div class="grid_2">
        <img class="cirkel" src="/img2/cirkel2.svg" alt="f" />
        <h1 class="text">SAKURA FESTIVAL</h1>
        <p class="text2">The Japanese Cherry Blossom Festival</p>
      </div>

      <div class="grid_3">
        <div>
          <h3>22.04.23 - 23.04.23</h3>
        </div>
      </div>
    </section>
  </main>
</MainLayout>
<style>
  section {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
  }

  .grid_2 {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
  }
  .cirkel {
    position: absolute;
  }
  .text {
    position: absolute;
  }
  .text2 {
    position: absolute;
    top: 223px;
    left: 65px;
    font-size: 1.2rem;
  }
  .grid_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2;
    z-index: 10;
  }

  h1 {
    display: inline-block;
    place-self: center center;
    font-size: 2.7rem;
    position: relative;
    text-align: center;
    border-bottom: 5px solid #000000;
    letter-spacing: 10px;
  }
  img {
    width: 80%;
  }
</style>
