---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Menu from "../components/Menu.astro";
import Container from "../components/Container.astro";
import "../styles/style.css";
import { Debug } from "astro/components";

const url = "https://nwjbtvzqimludxhozddx.supabase.co/rest/v1/sakura";
const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im53amJ0dnpxaW1sdWR4aG96ZGR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg5NTY1NjMsImV4cCI6MTk5NDUzMjU2M30.pBu6ZWcKE_Krw71zy6wwDpQdA5iwxQsjAruQOKbdIlw",
  },
};

const response = await fetch(url, options);
const alleEvents = await response.json();

const mainStage = alleEvents.filter((festivalevent) => festivalevent.scene === 1);
const secondStage = alleEvents.filter((festivalevent) => festivalevent.scene === 2);
const lawnStage = alleEvents.filter((festivalevent) => festivalevent.scene === 3);
const dato1 = alleEvents.filter((festivalevent) => festivalevent.dato === 1);
const dato2 = alleEvents.filter((festivalevent) => festivalevent.dato === 2);
---

<MainLayout>
  <main>
    {alleEvents.map((event) => <Card festivalevent={event} />)}
  </main>

  <main>
    <Container alleEvents={mainStage} filter="Main Stage" />
    <Container alleEvents={secondStage} filter="Second Stage" />
    <Container alleEvents={lawnStage} filter="On the lawn" />
  </main>
  
</MainLayout>

<style>
  .listeview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
    justify-content: center;
  }

  .overskrift1 {
    text-align: center;
  }
</style>
