---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Menu from "../components/Menu.astro";
import "../styles/style.css";
import { Debug } from "astro/components";

const url = "https://nwjbtvzqimludxhozddx.supabase.co/rest/v1/sakura";
const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im53amJ0dnpxaW1sdWR4aG96ZGR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg5NTY1NjMsImV4cCI6MTk5NDUzMjU2M30.pBu6ZWcKE_Krw71zy6wwDpQdA5iwxQsjAruQOKbdIlw",
  },
};

const response = await fetch(url, options);
const alleEvents = await response.json();
---

<main>
  <Menu />

  <section>
    <div class="overskrift1">
      <h1>Line up</h1>
    </div>
  </section>

  <article class="listeview">
    <Card img="../img/wadaiko.jpg" title="hej" />
    <Card img="../img/wadaiko.jpg" title="hej" />
    <Card img="../img/wadaiko.jpg" title="hej" />
    <Card img="../img/wadaiko.jpg" title="hej" />
  </article>
  <Debug {alleEvents} />
</main>

<style>
  .listeview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
    justify-content: center;
  }

  .overskrift1 {
    text-align: center;
  }
</style>
