---
const { festivalevent, link } = Astro.props;
---

<a href={link}>
  <article>
    <img src={"/img/" + festivalevent.image} />
  </article>
  <h4>{festivalevent.event}</h4>
  <p>{festivalevent.time}</p>
</a>

<style>
  article {
    text-align: center;
  }

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
</style>
