---
const { festivalevent } = Astro.props;
---

<article>
  <img src={"/img/" + festivalevent.image} />
  <h4>{festivalevent.event}</h4>
  <p>{festivalevent.time}</p>
</article>

<style>
  .link_card {
    display: grid;
  }
  img {
    max-width: 50%;
    border-radius: 50%;
  }

  article {
    text-align: center;
  }
</style>
