---
import Card from "./Card.astro";
import "../styles/style.css";

const { theEvents } = Astro.props;
---

<h1>HEEEJJJJJJJJJJJJJ</h1>
{theEvents.map((event) => <Card festivalevent={event} />)}

<article></article>
