---
import Card from "./Card.astro";
import "../styles/style.css";


const { theEvents ,filter } = Astro.props;
console.log("THE EVENTS***** ",theEvents)
---

<h1>{filter}</h1>

{theEvents.map((event) => <Card festivalevent={event} />)}

<article></article>
