---
const { title } = Astro.props;
---

<nav>
  <div class="logo">
    <a href="/pages.index.astro">
      <p></p>
    </a>
  </div>

  <ul>
    <li>
      <a href="/pages.about.astro"> About</a>
    </li>

    <li>
      <a href="/pages.lineup.astro"> Line-up</a>
    </li>

    <li><a href="/pages.singleview">My-Program</a></li>
  </ul>
</nav>

<style>
  nav {
    display: inline;
    width: 15rem;
    padding: var(--space-lg);
    background: var(--surface-black);
    font-size: var(--font-size-small);
    font-weight: 600;
    text-align: right;
  }
  li {
    display: inline;
    word-spacing: 40px;
  }

  li a {
    text-decoration: none;
    color: black;
  }
</style>
