---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<nav>
  <div class="logo">
    <a href="/pages.index.astro">
      <p></p>
    </a>
  </div>

  <ul>
    <li>
      <a href="/about/"> About</a>
    </li>

    <li>
      <a href="/lineup/"> Lineup</a>
    </li>
    <li>
      <a href="/myprogram/"> My program</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    font-weight: 600;
    text-align: right;
  }
  li {
    display: inline;
    word-spacing: 40px;
  }

  li a {
    text-decoration: none;
    color: black;
  }
</style>
