---
const { festivalevent } = Astro.props;
import Card from "./Card.astro";

---

<article>
  <!-- <img src={img} /> -->
  <h4>{festivalevent.event}</h4>
  <p>{festivalevent.time}</p>
  <p>{festivalevent.description}</p>
</article>

<style>
  .article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
