---
import "../styles/style.css";
import Menu from "../components/Menu.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Gidugu&family=Imbue:wght@100&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet" />

    <title>Astro</title>
  </head>
  <body>
    <Menu />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style></style>
